@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

/* size */
$tablet-width: 768px;
$desktop-width: 1366px;

/* color */

$main-grdient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$aditional-gradient: linear-gradient(90deg, #1c3477 50%, #b4022a 50%);
$base-color: #102654;
$base-white-color: #ffffff;

